
      <table class="table table-hover table-striped">
        <tr>
          <th>When you played</th>
          <th>you won</th>
          <th>you lost</th>
          <th>you tied</th>
        </tr>

        <tr>
          <td>rock</td>
          <td>3</td>
          <td>0</td>
          <td>1</td>
        </tr>

        <tr>
          <td>paper</td>
          <td>0</td>
          <td>1</td>
          <td>1</td>
        </tr>

        <tr>
          <td>scissors</td>
          <td>1</td>
          <td>2</td>
          <td>2</td>
        </tr>

        <tr>
          <th>Total</th>
          <th>4</th>
          <th>3</th>
          <th>4</th>
        </tr>
      </table>
    </div>


    <div class="panel panel-info">
      <div class="panel-heading">
        <h5 class="panel-title">
          Complete history
          (11)
        </h5>
      </div>

      <table class="table table-hover table-striped">
        <tr>
          <th>User Move</th>
          <th>Computer Move</th>
          <th>User Wins</th>
          <th>Computer Wins</th>
          <th>Tie</th>
        </tr>



		    </tr>
		  <% end %>
      </table>
    </div>
  </div>
</div>

</div>

</body>
</html>